/* css styles */
.responsive-columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 0 100%;
    padding: 5px;
}

@media (min-width: 500px) {
    .column {
        flex: 1;
    }
}

@media (min-width: 991.98px) {
    body.quarto-light #quarto-header {
        border-bottom: 1px solid #dee2e6;
    }

    body.quarto-dark #quarto-header {
        border-bottom: 1px solid #3b3f47;
    }
}